<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>Web Template</title>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0" bgcolor="#000000" background="img/mainbkg.gif">


<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/topbkg.gif">
  <tr>
    <td width="50%"><img border="0" src="img/topleft.gif" width="209" height="61"></td>
    <td width="50%">
      <p align="right"><img border="0" src="img/logo.gif" width="130" height="61"></td>
  </tr>
</table>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/linebkg.gif">
  <tr>
    <td width="100%"><font face="Arial" size="2" color="#FFFFFF"><b>&nbsp;&nbsp;
      YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp;
      YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp;
      YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp; YOUR LINK&nbsp;&nbsp; |&nbsp;&nbsp;
      YOUR LINK</b></font></td>
  </tr>
</table>
<p style="margin-left: 20"><font size="5" color="#B09000">Header 1</font></p>
<p style="margin-left: 20"><font color="#FFFFFF">Place your content here</font></p>
<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
<p style="margin-left: 20"><font size="5" color="#B09000">Header 2</font></p>
<p style="margin-left: 20"><font color="#FFFFFF">Place your content here</font></p>
<p style="margin-left: 20"><font color="#FFFFFF">&nbsp; </font></p>
<p style="margin-left: 20"><font color="#FFFFFF">&nbsp;</font></p>
<p style="margin-left: 20" align="center"><font color="#FFFFFF" face="Arial" size="1">©
COPYRIGHT 2001 ALL RIGHTS RESERVED YOURDOMAIN.COM</font></p>
<table border="0" width="100%" cellspacing="0" cellpadding="0" background="img/botbkg.gif">
  <tr>
    <td width="100%"><img border="0" src="img/botbkg.gif" width="38" height="13"></td>
  </tr>
</table>
<div style="text-align:center;font-family:Arial,Helvetica,Sans-Serif;font-size:11px;color:#777;"><a style="text-decoration:none;color:#777;" href="http://www.quackit.com">Tutorials</a> | <a style="text-decoration:none;color:#777;" href="http://www.htmlcodes.me">Codes</a> | <a style="text-decoration:none;color:#777;" href="http://www.free-templates.me">Templates</a></div>
</body>

</html>
